<configuration>
    <!-- Define log directory -->
    <property name="LOG_HOME" value="log" />

    <!-- General log configuration -->
<!--    <appender name="GENERAL" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        &lt;!&ndash; Static file path &ndash;&gt;-->
<!--        <file>${LOG_HOME}/general.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; Dynamic date in fileNamePattern, not in the file path &ndash;&gt;-->
<!--            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/general.log</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash; Ensure missing directories are created &ndash;&gt;-->
<!--        <prudent>true</prudent>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Transaction log configuration &ndash;&gt;-->
<!--    <appender name="TRANSACTION" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${LOG_HOME}/transaction.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/transaction.log</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash; Ensure missing directories are created &ndash;&gt;-->
<!--        <prudent>true</prudent>-->
<!--    </appender>-->

    <!-- REST log configuration -->
    <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/app.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-50.50class] %logger{36} - %msg%n</pattern>
        </encoder>
        <!-- Ensure missing directories are created -->
        <prudent>true</prudent>
    </appender>

    <!-- Console Appender for logging to console with color output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %magenta(%-5level) %green([%-50.50class]) >>> %cyan(%msg) %n
            </pattern>
        </encoder>
    </appender>

<!--    &lt;!&ndash; Logger for transaction-specific logs &ndash;&gt;-->
<!--    <logger name="TRANSACTION" level="info" additivity="false">-->
<!--        <appender-ref ref="TRANSACTION" />-->
<!--    </logger>-->

<!--    &lt;!&ndash; Logger for APP-specific logs &ndash;&gt;-->
<!--    <logger name="APP" level="info" additivity="false">-->
<!--        <appender-ref ref="APP" />-->
<!--    </logger>-->

    <!-- Root logger for general logs and console output -->
    <root level="info">
<!--        <appender-ref ref="GENERAL" />-->
        <appender-ref ref="APP" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
